/* https://newtodesing.com/ 
   v2.0 | 20110126
   License: none (public domain)
*/



/*Load google font*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}




/* Reset Styles */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
a{
	text-decoration: none;
	text-transform: none;
	color: #ffffff;
}

body {
	font-family: lato, ubuntu,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
	text-rendering : optimizeLegibility;
	-webkit-font-smoothing : antialiased;
	font-size: 19px;
	display: table;
	width: 100%;
	height: 100%;
	color: #ffffff;
	line-height: 1.6;
	position: relative;
	background: linear-gradient(-45deg, #ee7752, #007600, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
	font-family: 'Exo', sans-serif;
}
.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{

    text-align: center;
    color: #fff;
    font-size: 50px;
}


.circles{
    position: inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 10s linear infinite;
    top: 40%;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 1s;
    animation-duration: 60s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 3s;
    animation-duration: 40s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 5s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 4s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 3s;
    animation-duration: 30s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 60s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 1s;
    animation-duration: 20s;
}

.circle li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 10s linear infinite;
    bottom: 0%;
}

.circle li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circle li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 1s;
    animation-duration: 60s;
}

.circle li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
}

.circle li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 3s;
    animation-duration: 40s;
}

.circle li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circle li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 5s;
}

.circle li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 4s;
}

.circle li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 3s;
    animation-duration: 30s;
}

.circle li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 60s;
}

.circle li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 1s;
    animation-duration: 20s;
}




@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 5;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

p {
	color: #15171a;
	font-size: 17;
	line-height: 31px;
}

strong {
	font-weight: 600;
}

div , footer {
	box-sizing: border-box;
}
/* Reset ends */


/*Hero section*/

.container {
	max-width: 1200px auto;
	width: 85%;
	height: auto;
	margin: 50px auto;
}

.hero {
	margin: 50px auto; 
	position: relative;
}

h1.name {
	font-size: 70px;
	font-weight: 300;
	display: inline-block;
}

.job-title {
	vertical-align: top;
	background-color: #ddb12c;
	color: #ffffff;
	font-weight: 600;
	margin-top: 5px;
	margin-left: 20px;
	border-radius: 5px;
	display: inline-block;
	padding: 15px 25px;
}

.email {
	display: block;
	font-size: 24px;
	font-weight: 300;
	color: #ffffff;
	margin-top: 10px;
}

.lead {
	font-size: 40px;
	font-weight: 275;
	margin-top: 40px;
	line-height: 55px;
}

/*hero ends*/

/*skills & intrests*/

.sections {
	vertical-align: top;
	display: inline-block;
	width: 100%;
	height: 40px;
	position: static;
}

.section-title {
	font-size: 0px;
	position: inherit;
	font-weight: 1000;

}

.section-title-embed {
	position: inherit;
	font-size: 30px;
	margin-left: auto;
	font-weight: 1000;
	padding: 5% auto;
	color: #ffffff;
}


.list-card {
	margin: 50px 0;
}

.list-card .exp , .list-card div{
	display: inline-block;
	vertical-align: top;
	font-size: large;
}

.list-card .exp {
	margin-right: 50px;
	color: #ffffff;
	font-weight: 600;
	width: 100px;
	font-size: large;
}

.list-card div {
	width: 100%;
}

.list-card h3 {
	font-size: 20px;
	font-weight: 600;
	color: #ffffff;
	line-height: 26px;
	margin-bottom: 8px;
}

.list-card div span {
	font-size: 16px;
	color: #ffffff;
	line-height: 22px;
}

/*skill and intrests ends*/

/* Achievements */


.cards {
	max-width: 81%;
	display: inherit;
	margin-top: 750px	;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
  display: inline-block;
  }
  
.card {
	width: 32%;
	height: 200px auto;
	background-color: #a52a2a;
	display: inline-block;
	margin: 10px auto;
	vertical-align: auto;
	border-radius: 20px;
	text-align: center;
}

.card-active , .card:hover{
	transform: scale(1.02);
	transition: 0.5s;
	background-color: #000;
	box-shadow: 0px 5px 50px -8px #ddd;
	cursor: pointer;
}


.skill-level {
	display: inline-block;
	max-width: 100px auto;
}

.skill-level span {
	font-size: 25px;
	font-weight: 300;
	color: #fff;
	vertical-align: top;
}

.skill-level h2 {
	font-size: 95px;
	font-weight: 300;
	display: inline-block;
	vertical-align: top;
	color: #ffffff;
	letter-spacing: -5px;
}

.skill-meta {
	vertical-align: top;
	display: inline-block;
	max-width: 300px;
	text-align: left;
	margin-top: 15px;
	margin-left: 10px;
}

.skill-meta h3 {
	font-size: 20px;
	font-weight: 800;
	color: #ffffff;
	margin-bottom: 5px;
}

.skill-meta span{
	color: #fff;
	line-height: 20px;
	font-size: 16px;
}

/* Achievements ends */

/* ---- Hover effects ---- */
li:hover {
  color: #f4f4f4;
}
li .description {
  display: block;
}

/*timeline ends*/



/* Media queries*/

@media(max-width: 1024px){
	.container {
		padding: 15px;
		margin: auto;
	}
	.cards {
		margin-top: 0px;
	}
}

@media(max-width: 768px){
	.container {
		padding: 15px;
		margin: 0px auto;
	}
	.cards {
		margin-top: 0px;
	}

	.card {
		padding: 15px;
		text-align: left;
	}
	.card h2 {
		font-size: 70px;
	}
	.card , .sections {
		width: 100%;
		height: auto;
		margin: 10px 0;
		float: left;
	}

	.timeline{
		border: none;
		background-color: rgba(0,0,0,0);
	}

	.timeline li{
		margin-top: 0px;
		height: 150px;
	}
}


@media(max-width: 425px) {
	h1.name {
		font-size: 40px;
	}

	.card , .sections {
		width: 100%;
		height: auto;
		margin: 10px 0;
		float: left;
	}

	.timeline{
		display: none;
		}

	.job-title {
		position: absolute;
		font-size: 15px;
		top: -40px;
		right: 20px;
		padding: 10px
	}

	.lead {
		margin-top: 15px;
		font-size: 20px;
		line-height: 28px;
	}
	.container {
		margin: auto;
	}
	footer {
		margin-top: 2050px;
	}
	}


/* End of all :P*/
